{% extends 'mysite/mainbase.html' %}

<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset='utf-8' />

  </head>

{% block body %}


  <body>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
    <script>
          let days = {
    N:0, M: 1, T: 2, W: 3, Th: 4, F: 5,
}
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',

          headerToolbar: {
                left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay',


    },
          events: [
            {% for i in Courses %}

                {
                    title: "{{i.course_number}}",
                    startTime: "{{i.start_time|escapejs}}",
                    displayEventTime: true,
                    startRecur: "{{i.start_date|date:'y-m-d'}}",
                    endRecur: "{{i.end_date|date:'y-m-d'}}",
                    daysOfWeek: {{i.ConvertDaysToInts}},
                    endTime: "{{i.end_time|escapejs}}",
                    display: 'auto',

                  eventTimeFormat: {
                      hour: "numeric",
                      minute: "2-digit",
                      merdiem: "short",
                },

                },
            {% endfor %}

            {% for b in Assignment %}
              {
                    title: "{{b.course.course_number}} : {{b.title}}",
                    start: "{{b.due_date|escapejs}}",
                    end: "{{b.due_date|escapejs}}",
                    display: 'list-item',
                    color: "red",
                },
            {% endfor %}

        ],
        eventColor: '#673ab7'
        });
        calendar.render();
      });
</script>

<style>
  .fc{
    background-color: white;
  }
</style>

    <div id='calendar' class="container"></div>
  </body>

{%  endblock %}
</html>


