{% extends 'mysite/mainbase.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

{% block body %}
    <h2 style="text-align: center">Welcome to Courses</h2>
    <a href="{% url 'users:add_courses' %}" class="btn btn-primary" style="margin-left: 500px">Add Courses</a>
    {% for item in item_list %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card">
                        <div class="card-header" style="background-color: lightblue">
                            <div class="card-title">
                                Courses
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 style="margin-left: auto; margin-right: auto;">Department: {{ item.department }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Course Number: {{ item.course_number }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Course Name: {{ item.course_name }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Credit Hours: {{ item.credit_hours }}</h4>
                            <a href="{% url 'users:edit_courses' item.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'users:delete_courses' item.id %}" class="btn" style="background-color: red;
                        color: white">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{%  endblock %}
</body>
</html>