{% extends 'mysite/mainbase.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header" style="background-color: lightblue">
                        <div class="card-title">
                            Add Course
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST" style="text-align: center">
                          {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Save Course" style="background-color: lightblue; text: white">
                            <a href="{% url 'courses' %}">
                                <input type="button" value="Cancel" style="background-color: lightblue; text: white;" />
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {%  endblock %}