{% extends 'mysite/mainbase.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-black">
                        <div class="card-title">
                            Login
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <button type="submit " value="Submit" class="btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}