{% extends 'mysite/mainbase.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                        <div class="card-title">
                             <h2 style="color: white; text-align: center">Add a Custom Message</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST" style="text-align: center">
                          {% csrf_token %}
                            <div class="" style="display: flex; flex-wrap: wrap; row-gap: 20px; flex-direction:
                                column; margin-top: 5px; margin-left: 40px">{{ form.as_p }}</div>
                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2" type="submit" value="Save Message"/>
                          <a href="{% url 'mysite:main' %}">
                              <input class="btn btn-outline-danger" type="button" value="Cancel"/>
                          </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {%  endblock %}