{% extends 'mysite/mainbase.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header" style="background-color: lightblue">
                        <div class="card-title">
                            Edit Profile
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" style="text-align: center">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Save Changes" style="background-color: lightblue; text: white">
                            <a href="{% url 'profile' %}">
                                <input type="button" value="Cancel" style="background-color: lightblue; text: white;" />
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {%  endblock %}