{% extends 'mysite/mainbase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
{% block body %}
    <h1>Profile</h1>
    <hr></hr>
{% if user.is_authenticated %}
    {% for item in item_list %}
        {% if item.email == user.email %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header" style="background-color: lightblue">
                            <div class="card-title">
                                Profile
                            </div>
                        </div>
                        <div class="card-body">
                            {% if item.image_profile %}
                                <img src="{{ item.image_profile.url }}" alt="Testing images." style="width: 100px; height: 100px;
                                                vertical-align: middle; border-radius: 50%;">
                            {% endif %}
                            <h5 style="margin-left: auto; margin-right: auto;">First Name: {{ item.first_name }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Last Name: {{ item.last_name }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Email: {{ item.email }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Bio: {{ item.bio }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Phone Number: {{ item.phone_number }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Birthday: {{ item.birthday }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Address Line1: {{ item.addressLine1 }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Address Line2: {{ item.addressLine2 }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">City: {{ item.city }}</h5>
                            <h5>Link 1: <a href="{{ item.link1 }}" target ="_blank" style="margin-left: auto; margin-right: auto; color: blue">{{ item.link1 }}</a></h5>
                            <h5>Link 2: <a href="{{ item.link2 }}" target ="_blank" style="margin-left: auto; margin-right: auto; color: blue">{{ item.link2 }}</a></h5>
                            <h5>Link 3: <a href="{{ item.link3 }}" target ="_blank" style="margin-left: auto; margin-right: auto; color: blue">{{ item.link3 }}</a></h5>
                            <a href="{% url 'users:edit_profile' item.id %}" class="btn btn-warning">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{%  endblock %}
</body>
</html>