{% extends 'mysite/mainbase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
{% block body %}
{% if user.is_authenticated %}
    {% for item in item_list %}
        {% if item.email == user.email %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2" style="padding-top: 20px">
                    <div class="card">
                        <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                            <div class="card-title">
                                <h2 style="color: white; text-align: center">Profile</h2>
                            </div>
                        </div>
                        <div class="card-body" style="padding-left: 350px">
                            {% if item.image_profile %}
                                <img src="{{ item.image_profile.url }}" alt="Testing images." style="width: 100px; height: 100px;
                                                vertical-align: middle; border-radius: 50%; margin-left: 40px">
                            {% endif %}
                            <h5 style="margin-left: auto; margin-right: auto;">First Name: {{ item.first_name }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Last Name: {{ item.last_name }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Email: {{ item.email }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Bio: {{ item.bio }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Phone Number: {{ item.phone_number }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Birthday: {{ item.birthday }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Address Line1: {{ item.addressLine1 }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">Address Line2: {{ item.addressLine2 }}</h5>
                            <h5 style="margin-left: auto; margin-right: auto;">City: {{ item.city }}</h5>
                            <h5>Link 1: <a href="{{ item.link1 }}" target ="_blank" style="margin-left: auto; margin-right: auto; color: blue">{{ item.link1 }}</a></h5>
                            <h5>Link 2: <a href="{{ item.link2 }}" target ="_blank" style="margin-left: auto; margin-right: auto; color: blue">{{ item.link2 }}</a></h5>
                            <h5>Link 3: <a href="{{ item.link3 }}" target ="_blank" style="margin-left: auto; margin-right: auto; color: blue">{{ item.link3 }}</a></h5>

                        </div>
                     <div class="d-flex align-items-center justify-content-center pb-4">
                               <a href="{% url 'users:edit_profile' item.id %}">
                                <input class="btn btn-outline-danger" type="button" value="Edit Profile"/>
                               </a>
                     </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{%  endblock %}
</body>
</html>