{% extends 'mysite/mainbase.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <div class="card-title">
                            Register
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <body><b>Please enter your Email as your Username</b></body>
                            {{ form|linebreaks }}
{#                            <body>Are you a student or instructor?</body>#}
{#                            <br>#}
{#                            <input type="radio" name="editList" value="always">Student#}
{#                            <br>#}
{#                            <input type="radio" name="editList" value="never">Instructor#}
{#                            <br>#}
                            <button type="submit" class="btn-primary">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock body%}