{% extends 'mysite/registerbase.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header" style="background-color: lightblue">
                        <div class="card-title">
                            Register
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <body><b>Please enter your Email as your Username</b></body>
                            {{ form.as_p }}
                            <button type="submit" value="Register" style="background-color: lightblue; margin-left: 220px;">Sign Up</button>
                            <br>
                            <a href="{% url 'login' %}" class="nav-item2 nav-link" style="margin-left: 10px; text-align: center">Already have an account?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock body%}

