{% extends 'mysite/mainbase.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
{% block body %}
    <h2 style="text-align: center">Welcome to Account</h2>
    <hr></hr>
        <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header" style="background-color: lightblue">
                        <div class="card-title">
                            Account
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" style="text-align: center">
                            {% csrf_token %}
                            <h3>Tuition: ${{ tuition }}</h3>
                            {{ form.as_p }}
                            <input type="submit" value="Pay Tuition" style="background-color: lightblue; text: white; margin-left: 10px"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
</body>
</html>

