{% extends 'mysite/mainbase.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
{% block body %}
    {% if user.is_authenticated %}
        <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4" style="padding-top: 20px">
                <div class="card">
                    <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                        <div class="card-title">
                             <h2 style="color: white; text-align: center">Account</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" style="text-align: center">
                            {% csrf_token %}
                            <h3>Tuition: ${{ total_tuition }}</h3>
                            {{ form.as_p }}
                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Pay Tuition" name="Pay_Button"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{%  endblock %}
</body>
</html>

