Student submission:
	if file upload then upload file (only one)
		store file in folders
	or
	if text show the text box

Unit testing research
	for quick sort

Research charts
	get one to show

Student calander filled
	classes and assignments

Menu item of a bell icon for notifications
	click and show list
		item x for close

Search function in register courses
	dropdown filter by department
	textbox to filter by title
	search button






