{% extends 'mysite/mainbase.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        .containerMain {
            justify-self: start;
        }
    </style>
</head>
<body>
{% block body %}

    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
    <div class="containerMain">
        <h2>Users Username: {{ user.username }}</h2>
        <h2>Users Name: {{ user.first_name }} {{ user.last_name }}</h2>
        <h2>Users Email: {{ user.email }}</h2>
    </div>

    <div class="card-group">
        <div class="card" style="width: 18rem; margin: 1rem;">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
                <h4 class="card-title">CS 3750</h4>
                <h5 class="card-subtitle">Course_number: 33685</h5>
                <p class="card-text">Wednesday: 11:30-1:20</p>
                <a href="#" class="btn btn-primary">Enter</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Name</h4>
                <h5 class="card-subtitle">Class #</h5>
                <p class="card-text">Meeting time and location</p>
                <a href="#" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card" style="width: 18rem; margin: 1rem;">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
                <h4 class="card-title">CS 3750</h4>
                <h5 class="card-subtitle">Course_number: 33685</h5>
                <p class="card-text">Wednesday: 11:30-1:20</p>
                <a href="#" class="btn btn-primary">Enter</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Name</h4>
                <h5 class="card-subtitle">Class #</h5>
                <p class="card-text">Meeting time and location</p>
                <a href="#" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>


{% endblock %}
</body>
</html>
