{% extends 'mysite/mainbase.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
    <h2>Users Username: {{ user.username }}</h2>
    <h2>Users Name: {{ user.first_name }} {{ user.last_name }}</h2>
    <h2>Users Email: {{ user.email }}</h2>
{% endblock %}
</body>
</html>
