{% extends 'mysite/mainbase.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        .containerMain {
            justify-self: start;
        }
    </style>
</head>
<body>
{% block body %}

    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
    <div class="containerMain">
        <h2>Users Username: {{ user.email }}</h2>
        <h2>Users Name: {{ user.first_name }} {{ user.last_name }}</h2>
    </div>
    <div class="row">

        <div class="column" style="width: 49%">

            <div class="float-container">

                {#The Users cards div#}
                <div class="float-child1">
                    {% for item in item_list %}
                        <div class="card-group">

                            <div class="card" style="margin: 1rem;">
                                <div style="color: red; position: relative; left: 370px; top: 1px;
                                 border: none; font-size: 1cm; caret-color: transparent;">
                                    <a class="closeButton" type="button" href="/courses/drop/{{ item.pk }}"
                                       style="color: red;">&times;</a></div>
                                <div class="card-body">
                                    <h4 class="card-title"
                                        style="margin: 5px; text-align: center">{{ item.course_name }}</h4>
                                    <h5 class="card-subtitle" style="margin: 5px; text-align: center">Course
                                        Number: {{ item.course_number }}</h5>
                                    <h5 class="card-subtitle" style="margin: 5px; text-align: center">Credit
                                        Hours: {{ item.credit_hours }}</h5>
                                    <p class="card-text"
                                       style="text-align: center">{{ item.meeting_time_days }}: {{ item.start_time }}
                                        - {{ item.end_time }}</p>
                                    <a href="{% url 'course:course_page' item.id %}" class="btn btn-primary"
                                       style="font-size: 20px; width: 100%">Enter</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                {# For use when we have the todo/message list #}
                <div class="float-child2">


                </div>
                {##}
                {#    {% for item in item_list %}#}
                {#        {% if registerButton == True and user.is_staff == False %}#}
                {#            <div class="card-group">#}
                {#                <div class="card" style="margin: 1rem;">#}
                {#                    <img class="card-img-top" src="..." alt="Card image">#}
                {#                    <div class="card-body">#}
                {#                        <h4 class="card-title">{{ item.course_name}}</h4>#}
                {#                        <h5 class="card-subtitle">Course Number: {{ item.course_number }}</h5>#}
                {#                        <p class="card-text">{{ item.meeting_time_days }}: {{ item.start_time }} - {{ item.end_time }}</p>#}
                {#                        <a href="#" class="btn btn-primary">Enter</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#            </div>#}
                {#        {% endif %}#}
                {#    {% endfor %}#}


            </div>
        </div>
        <div class="column" style="width: 49%">
        <ul>
              {% for item in assignment_list %}
                  <!-- TO DO: redirection to assignment submission. will need
                   to pass assignment id, user id(?), and course id(?) -->
                <li><a href="">{{ item.title }} {{ item.due_date }} </a> </li>

              {% endfor %}

        </ul>

        </div>

    </div>

{% endblock %}
</body>
</html>
