{% extends 'mysite/mainbase.html' %}
{% load set_var %}
{% load define %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                        <div class="card-title">
                            <h2 style="color: white; text-align: center">Search For Course</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="get">
                            <select name="department">
                                <option selected disabled hidden>Select Department</option>
                                <option value="Computer Science">Computer Science</option>
                                <option value="Physics">Physics</option>
                                <option value="Math">Math</option>
                                <option value="English">English</option>
                                <option value="Engineering">Engineering</option>
                            </select>
                            <input type="search" name="title_name" placeholder="Enter Course Name"/>
                            <button  class="btn btn-outline-danger" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="float-container">
     <div class="float-child1">
    {% for item in item_list %}
            <div class="card-group">
                <div class="card" style="margin: 1rem;">
                    <h4 class="card-text" style="font-size: 10px">{{ item.department }}</h4>
                    <div class="card-body">
                        <h4 class="card-title">{{ item.course_name}}</h4>
                        <h5 class="card-subtitle">Course Number: {{ item.course_number }}</h5>
                        <h5 class="card-subtitle">Credit Hours: {{ item.credit_hours }}</h5>
                        <h5 class="card-subtitle">Instructor Name : {{ item.instructor.last_name }}, {{ item.instructor.first_name }} </h5>
                        <p class="card-text">{{ item.meeting_time_days }}: {{ item.start_time }} - {{ item.end_time }}</p>
                        <a href="/courses/courses/enroll/{{item.pk}}">
                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2" type="button" value="Register"/>
                        </a>

                    </div>
                </div>
            </div>
    {% endfor %}

    </div>

    <div class="float-child2">

    <h3>Registered Classes: </h3>

        {% if not usercourses  %}
            <div class="card-group">
                <div class="card" style="margin: 1rem;">
                    <div class="card-body">
                        <br><br>
                        <h4 class="card-title">You have not registered for any courses</h4>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for item in usercourses %}
            <div class="card-group">
                <div class="card" style="margin: 1rem;">
                    <h4 class="card-text" style="font-size: 10px">{{ item.department }}</h4>
                    <div class="card-body">
                        <h4 class="card-title">{{ item.course_name}}</h4>
                        <h5 class="card-subtitle">Course Number: {{ item.course_number }}</h5>
                        <h5 class="card-subtitle">Credit Hours: {{ item.credit_hours }}</h5>
                        <h5 class="card-subtitle">Instructor Name : {{ item.instructor.last_name }}, {{ item.instructor.first_name }} </h5>
                        <p class="card-text">{{ item.meeting_time_days }}: {{ item.start_time }} - {{ item.end_time }}</p>
                        <a href="/courses/courses/enroll/{{item.pk}}">
                            <input class="btn btn-outline-danger" type="button" id="btn" value="Drop"/>
                        </a>

                    </div>
                </div>
            </div>
    {% endfor %}
    </div>


    {##end float container#}
    </div>
{%  endblock body%}

