{% extends 'mysite/loginbase.html' %}
{% block body %}

        <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header" style="background-color: lightblue">
                        <div class="card-title">
                            Delete Course
                        </div>
                    </div>
                    <div class="card-body">
                      <form method="POST">
                          {% csrf_token %}
                          <h2>Are you sure you want to delete {{ assignment.title }}</h2>
                          <input type="submit" value="Confirm" style="background-color: lightblue; text: white">
                          <a href="{% url 'mysite:main' %}">
                              <input type="button" value="Cancel" style="background-color: lightblue; text: white;" />
                          </a>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}