{% extends 'mysite/mainbase.html' %}
{% block body %}
    <div class="container" style="margin-top: 12px">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                        <div class="card-title">
                            <h2 style="color: white; text-align: center">Submissions</h2>
                        </div>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        <h5 style="margin: 2%">{{ course.department }} {{ course.course_number }}, {{ course.course_name }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-bordered" style="margin: 0 auto; width: 80%;">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Assignment</th>
                                <th>Student</th>
                                <th>Date Submitted</th>
                                <th>Grade</th>

                            </tr>
                            </thead>
                            <tbody>

                                <!-- if and for loop -->
                                {% if list %}
                                    {% for submit in list %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ submit.assignment.title }}</td>
                                            <td>{{ submit.user.first_name }} {{ submit.user.last_name }}</td>
                                            <td>{{ submit.submit_datetime }}</td>
                                            <td>
                                                {% if submit.is_graded %}
                                                    {{ submit.points_received }} of {{ submit.assignment.max_points }}
                                                    <a href="{% url 'course:gradebook' submit.id %}" class="btn btn-outline-danger" style="margin-left: 8px">Update</a>
                                                {% else %}
                                                     -- of {{ submit.assignment.max_points }}
                                                    <a href="{% url 'course:gradebook' submit.id %}" class="btn btn-outline-danger" style="margin-left: 8px">Grade</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}


                              </tbody>
                            </table>
                    </div>
                </div>
            </div>
               <a href="{% url 'course:course_page' course.id %}">
                   <input class="btn btn-outline-danger" type="button" style="font-size: 20px; margin-top: 10px" value="Back to Course"/>
               </a>
        </div>
    </div>
{%  endblock %}