{% extends 'mysite/mainbase.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <h2 style="text-align: center">Welcome to {{ course.department }} {{ course.course_number }}</h2>
    <hr></hr>
    {% if not user.is_instructor %}
        <div id="grade">
            <h2 style="text-align: center;"> Grade for {{ user.first_name }} {{ user.last_name }}: {{ grade }}</h2>
        </div>
    {% endif %}
     <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['A',     90],
          ['B',      80],
          ['C',  70],
          ['D', 60],
          ['F',    50]
        ]);

        var options = {
          title: 'Class Averages'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }


    </script>
  </head>


    <div class="assignment-container">
         <div class="assignment">
             <div class="container">
                 {% if user.is_instructor %}
                     <div class="col-lg-10 offset-md-1" id="piechart" style="padding-bottom: 10px; height: 500px;"></div>
                 {% endif %}
                 <div class="row">
                    <div class="col-lg-10 offset-md-1">
                       {% if user.is_instructor %}
                           <a href="{% url 'course:add_assignment' course.id %}">
                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3;" type="submit" value="Add Assignment" style="margin-bottom: 10px"/>
                           </a>
                       {% endif %}
                        <div class="card">
                            <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                                <div class="card-title">
                                    <h2 style="color: white; text-align: center">Assignments</h2>
                                </div>
                            </div>
                            {% for assignment in assignments %}
                                <div class="card-body">
                                    <h1>{{assignment.title}}</h1>
                                    <h2>{{ assignment.description }}</h2>
                                    <h2>Due Date: {{ assignment.due_date }}</h2>
                                    <h2>Maximum Points: {{ assignment.max_points }}</h2>
                                    <h2>Submit using: {{ assignment.submission_type }}</h2>
                                    {% if user.is_instructor %}
                                        <a href="{% url 'course:edit_assignment' assignment.course.id assignment.id %}" class="btn btn-warning">Edit</a>
                                         <a href="{% url 'course:delete_assignment' assignment.course.id assignment.id %}">
                                            <input class="btn btn-outline-danger" type="button" value="Delete Assignment"/>
                                        </a>
                                         <a href="{% url 'course:assignment_submission' assignment.id %}">
                                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2" type="submit" value="Submissions"/>
                                        </a>
                                    {% endif %}
                                    {% if not user.is_instructor %}
                                        <a href="{% url 'course:submit_assignment' assignment.course.id assignment.id %}">
                                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" value="View"/>
                                        </a>
                                    {% endif %}
                                <hr></hr>
                                <br></br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
         </div>

    </div>
{%  endblock %}
</body>
</html>