{% extends 'mysite/mainbase.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <h2 style="text-align: center">Welcome to {{ course.department }} {{ course.course_number }}</h2>
    {% if user.is_instructor %}
        <a href="{% url 'course:add_assignment' %}" class="btn btn-primary" style="margin-left: 500px">Add Assignment</a>
    {% endif %}

    <div class="assignment-container">
        <div class="assignment-subcontainer">1</div>
        <div class="assignment-subcontainer">2</div>
        <div class="assignment-subcontainer">3</div>
        <div class="assignment-subcontainer">4</div>
        <div class="assignment-subcontainer">5</div>
        <div class="assignment-subcontainer">6</div>


    </div>
{%  endblock %}
</body>
</html>