{% extends 'mysite/mainbase.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <h2 style="text-align: center">Welcome to {{ course.department }} {{ course.course_number }}</h2>
    {% if user.is_instructor %}
        <a href=" {{ request.path }}/addassignment" class="btn btn-primary" style="margin-left: 500px">Add Assignment</a>
    {% endif %}

    <div class="assignment-container">
        {% for assignment in assignments %}
         <div class="assignment">
             <div class="container">
                 <div class="row">
                    <div class="col-lg-10 offset-md-1">
                        <div class="card">
                            <div class="card-header" style="background-color: lightblue">
                                <div class="card-title">
                                    Assignment
                                </div>
                            </div>
                            <div class="card-body">
                                <h1>{{assignment.title}}</h1>
                                <h2>{{ assignment.description }}</h2>
                                <h2>Due Date: {{ assignment.due_date }}</h2>
                                <h2>Maximum Points: {{ assignment.max_points }}</h2>
                                <h2>Your Points: {{ assignment.points_received }}</h2>
                                <h2>Submit using: {{ assignment.submission_type }}</h2>
                                <h2>Graded: {{ assignment.is_graded }}</h2>
                                {% if user.is_instructor %}
                                   <a href="{{request.path}}/assignment/edit/{{assignment.id}}" class="btn btn-warning">Edit</a>
                                <a href="{{request.path}}/assignment/delete/{{assignment.id}}" class="btn" style="background-color: red; color: white">Delete</a>
                                {% endif %}
                                {% if not user.is_instructor %}
                                    <a href="{% url 'course:submit_assignment' assignment.course.id assignment.id %}" class="btn btn-primary">Submit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        {% endfor %}
    </div>
{%  endblock %}
</body>
</html>