{% extends 'mysite/mainbase.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

{% block body %}
    <a href="{% url 'course:add_courses' %}">
        <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3;" type="submit" value="Add Course" style="font-size: 20px; width: 15%; margin-left: 800px; margin-bottom: 10px; margin-top: 10px"/>
    </a>
    {% for item in item_list %}
{#        Only the instructor can view, edit, and delete the courses they made#}
        {% if item.instructor == user or user.is_staff == True %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-1" style="margin-bottom: 15px">
                    <div class="card">
                        <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                            <div class="card-title">
                                <h4 style="color: white">Course</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 style="margin-left: auto; margin-right: auto;">Department: {{ item.department }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Course Number: {{ item.course_number }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Course Name: {{ item.course_name }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Credit Hours: {{ item.credit_hours }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Days of Week: {{ item.meeting_time_days }}</h4>
                            <h4 style="margin-left: auto; margin-right: auto;">Class Time: {{ item.start_time }} - {{ item.end_time }}</h4>
                            <a href="{% url 'course:edit_courses' item.id %}">
                                <input class="btn btn-primary btn-block fa-lg gradient-custom-2" type="submit" style="font-size: 20px;" value="Edit Course"/>
                            </a>
                            <a href="{% url 'course:delete_courses' item.id %}">
                                <input class="btn btn-outline-danger" type="button" style="font-size: 20px;" value="Delete Course"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{%  endblock %}
</body>
</html>