{% extends 'mysite/loginbase.html' %}
{% block body %}

        <div class="container" style="margin-top: 100px">
        <div class="row">
            <div class="col-md-4 offset-md-4" style="padding-top: 20px">
                <div class="card">
                    <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                        <div class="card-title">
                            <h4 style="color: white; text-align: center">Delete Course</h4>
                        </div>
                    </div>
                    <div class="card-body">
                      <form method="POST">
                          {% csrf_token %}
                          <h2>Are you sure you want to delete {{ item.department }}, {{ item.course_number }}</h2>

                          <input class="btn btn-primary btn-block fa-lg gradient-custom-2" type="submit" value="Confirm"/>
                               <a href="{% url 'course:courses' %}">
                                    <input class="btn btn-outline-danger" type="button" value="Cancel"/>
                               </a>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}