{% extends 'mysite/mainbase.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                        <div class="card-title">
                            <h2 style="color: white; text-align: center">Grade Submission</h2>
                        </div>
                    </div>

                    <div class="card-body">
                        <h1>{{assignment.title}}</h1>
                        <h2>Due Date: {{ assignment.due_date }}</h2>
                        <h2>Maximum Points: {{ assignment.max_points }}</h2>
                        <h2>Description:   {{ assignment.description }}</h2>
                        <h2>Submission Type: {{ assignment.submission_type }}</h2>
                        <br>
                        {% if assignment.submission_type == '.file' %}
                            <h5>{{ submission.filename }}</h5>
                            <h3>
                                <a href="{{ submission.file.url }}" download class="btn btn-outline-primary">
                                    Download File
                                </a>
                            </h3>
                        {% else %}
                            <div class="card">
                                <div class="card-header" style="background-color: lightgray">
                                    <div class="card-title">
                                        Textbox Submission
                                    </div>
                                </div>
                                <div class="card-body">
                                    {{ submission.textbox }}
                                </div>
                            </div>
                        {% endif %}
                        <h3></h3>
                        <br><br>
                        <form method="POST" enctype="multipart/form-data" style="text-align: center">
                          {% csrf_token %}
                            {{ form.as_p }}

                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2" type="submit" value="Submit Grade"/>
                            <a href="{% url 'course:assignment_submission' assignment.id %}">
                                <input class="btn btn-outline-danger" type="button" value="Cancel"/>
                            </a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {%  endblock %}